@charset "UTF-8";
/* --------------------------------------------------
    COMMON
-------------------------------------------------- */
body {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
html { overflow-x: hidden; }
body, p { line-height: 1.8rem !important; }
.border { border-width: 2px !important; }
.bg-lightblue {	background: #EAF2F4; }

/* 半円背景各種
-------------------------------------------------- */
/* 半月（背景白） */
.half-white:after { background-color: #fff; }
/* 半月（背景薄青） */
.half-lightblue:after { background: #EAF2F4; }
/* 半月（背景緑） */
.half-info:after { background: #17a2b8; }
/* 共通 */
.half {
    width: 100%;
    height: 150px;
    border-top-left-radius: 0% 120px;
    border-top-right-radius: 0% 120px;
    position: absolute;
    top: 0;
    left: -0%;
}
.half:after {
	content: ' ';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

/* 見出し青丸
-------------------------------------------------- */
.dot {
	padding-left: 1.5rem !important;
	padding-right: 1.5rem !important;
}
.dot:before, .dot:after {
	font-family: "Font Awesome 5 Free";/*忘れずに*/
	content: "\f111";/*アイコンのユニコード*/
	font-size: 1.2rem;/*サイズ*/
	color: #a1ceff;
	padding: 0 10px;
	vertical-align: middle;
}
/* --------------------------------------------------
    header
-------------------------------------------------- */
header .container-fluid {
	height: 100vh;
	width: 100%;
	background: url(../img/image-top.jpg);
	background-size: cover;
	background-position: 50% 100%;
}
/*    グローバルナビ
-------------------------------------------------- */
.breadcrumb {
	background: transparent;
}
.breadcrumb-item + .breadcrumb-item::before {
	content: '>';
	color: #fff;
}
/* --------------------------------------------------
    トップページ
-------------------------------------------------- */
.balloon {
	width: 130px;
	height: 130px;
	top: -50px;
	z-index: 10;
	left: -20px;
	font-size: 15px;
}
.balloon-s {
	width: 110px;
	height: 110px;
	top: -20px;
	z-index: 10;
	left: -20px;
	font-size: 14px;
}
.balloon:before, .balloon-s:before {
	content: "";
	position: absolute;
	bottom: -5px;
	right: -5px;
	margin-top: -15px;
	border: 10px solid transparent;
	border-left: 30px solid #17a2b8;
	z-index: 0;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

table tr:last-child {
	border-bottom: 1px solid #dee2e6;
}
table tr:nth-child(even) {
	background-color: #F9F9F9;
}
table tr:nth-child(odd) {
	background-color: #E4E9EF;
}
/* --------------------------------------------------
    サンプルページ
-------------------------------------------------- */
.season {
	width: 70px;
	height: 70px;
	left: 10px;
	padding: 0.34em;
}
.season div {
	display: block;
	width: 100%;
	height: 100%;
	border: 2.4px dotted #fff;
}
.title {
	border-bottom: 2px solid #17a2b8;
}
.stripe {
	background: repeating-linear-gradient(90deg, #fff 0, #fff 40%, #17a2b8 40%, #17a2b8 60%, #fff 60%, #fff 70%);
}

.question {
	display: flex;
	gap: 6px 40px;
	justify-content: center;
  	align-items: center;
}

.cutstom-center {
	width: 80%;
  	margin: 0 auto;
  	max-width: 600px;
	padding-top: 10px;
	margin-bottom: 50px;
}

.bg-custom {
	background: #17a2b8;
}

.info-table {
	margin: 3px auto;
	width: 70%;
}

.top-margin {
	margin-top: 40px;
}

.top-padding-10 {
	padding-top: 10px;
}

.top-padding {
	padding-top: 40px;
}

.googleform-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	overflow-y: scroll;
  }

  .googleform-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }


  div.radius {
	border: 5px solid #EAF2F4;
 	border-radius: 30px;
	text-align: center;
 	margin-left:auto;
    margin-right:auto;
 	width: 60%;
 	height: auto;
 	padding: 10px;
	Word-break:break-all;
  }

  .c-form {
	max-width: 600px;
	margin: 0 auto;
}

.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.c-form__label,
.c-form__input {
	padding: 10px;
}

.c-form__label {
	font-size: 18px;
	font-weight: bold;
	width: 90%;
}

.c-form__input {
	height: calc( 1.3em * 1 );
	width: 90%;
	font-size: 16px;
	border: solid 1px #333;
	border-radius: 4px;
}

.c-form__input:focus-visible {
	outline: #17a2b8 auto 1px;
}

.c-form__required {
	color: #fff;
	background-color: #17a2b8;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}

textarea.c-form__input {
	height: 160px;
}

.c-form__submit {
	text-align: center;
}

.c-form__submit button {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #17a2b8;
	border: solid 1px #17a2b8;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}

.c-form__submit button:hover {
	color: #17a2b8;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}